.article {
    width: 46rem;
    height: 17.875rem;
    margin-top: 3.75rem;

}

.bodyTask {
    display: flex;
    justify-content: space-between;
}

.newTask strong {
    color: var(--azulclaro);
}

.newTask span {
    color: var(--gray-200);
    margin-left: 0.5rem;

}

.completedTask strong {
    color: var(--roxoclaro);
}

.completedTask span {
    color: var(--gray-200);
    margin-left: 0.5rem;

}

.listTask {
    border-top: 1px solid #333333;
    margin-top: 1.5rem;
}

.messageTask {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.messageTask svg{
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    justify-content: center;
}