.bodyTask {
    display: flex;
    align-items: center;
    width: 46rem;
    /* height: 17.938rem; */
    justify-content: space-between;
}

.newTask strong {
    color: var(--azulclaro);
}

.newTask span {
    color: var(--gray-200);
    margin-left: 0.5rem;

}

.completedTask strong {
    color: var(--roxoclaro);
}

.completedTask span {
    color: var(--gray-200);
    margin-left: 0.5rem;

}

.listTask {
    border-top: 1px solid #333333;
    border-radius: 10px;
}